.formulario {
    width: 30%;
}
#title {
    font-family:'Road Rage';
    font-size:40px;
}

.btn-orange {
    color: white;
    border:none;
    border-radius: 5px;
    padding:10px 10px;
    background-color:#ff8000;
    transition:.2s;
}
.btn-orange:hover{
    background-color:white;
    color: #ff8000;
    border:1px solid #ff8000;
    transform:scale(1.01);
}