<form class="card shadow-sm rounded px-4 py-4 position-absolute top-50 start-50 translate-middle formulario">
    <div class="d-flex py-2 justify-content-center align-items-center">
        <img src="../../../../assets/icons/Fairy-Tail.ico" class="img-fluid w-25 me-1" alt="">
        <span class="text-center ms-1 text-dark" id="title">ANIKI</span>
    </div>
    <div class="d-flex flex-column pt-3">
        <span class="mb-2 fs-5 text-dark">Comienza 🚀</span>
        <p class="mb-4 fs-6 text-secondary">Registrarse para más funcionalidades!</p>
    </div>
    <div class="d-flex flex-column pt-3">
        <div class="form-floating">
            <input type="user" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label class="text-secondary" for="floatingInput">Nombre de usuario</label>
          </div>
    </div>
    <div class="d-flex flex-column pt-3">
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label class="text-secondary" for="floatingInput">Correo electronico</label>
          </div>
    </div>
    <div class="d-flex flex-column pt-3">
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label class="text-secondary" for="floatingInput">Contraseña</label>
          </div>
    </div>
    <div class="d-flex pt-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms" />
            <label class="form-check-label" for="terms-conditions">
                Acepto
                <a href="#" class="text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">la política de privacidad</a>
            </label>
        </div>
    </div>
    <div class="d-flex pt-3">
        <button class="btn-orange w-100">Registrarse</button>
    </div>
    <div class="d-flex pt-3">
        <p class="text-center">
            <span>¿Ya tienes una cuenta?</span>
            <a [routerLink]="['/login']" class="text-dark">
                <span> Iniciar sesión</span>
            </a>
        </p>
    </div>
</form>

<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Politica de privacidad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ab animi aperiam similique velit, sint numquam placeat magni perspiciatis facere quos repellat, tenetur esse nemo rerum error, illum porro laudantium.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Salir</button>
        </div>
      </div>
    </div>
  </div>
