.main {
	float: left;
	width: 70%;
	background: #fff;
	height:100%;
	min-height: 102vh;
    margin-top: 20px;
}

.results-favorites {
	display:flex;
	flex-direction: column;
}



.section-tittle {
    display:flex;
    padding:20px 0px;
    color:rgb(133, 132, 132);
    justify-content:center;
    align-items:center;
    font-family:'Overpass';
    margin:20px 100px;
    border-bottom:1px solid rgba(133, 132, 132, 0.3);
}

article{
    display: flex;
    flex-direction: row;
    padding:40px 20px;
    margin: 0px 40px;
}

.p-controls{
    width: 100%;
    display: flex;
    justify-content: center;

}


.article-image {
    width:35%;
    display: flex;
    justify-content: center;
}

.article-image img {
    display: inline-block;
    width:185px;
    height:265px;
}

.article-info-anime {
    width:65%;
    font-family: 'Overpass';
    display:flex;
    flex-direction: column;
}


.article-info-anime h3 {
    width:100%;
    font-size:16px;
    display:flex;
    font-weight: bold;
    padding:10px 0px 5px 0px;
    color:rgb(133, 132, 132);
}

.article-info-anime p {
    width:100%;
    text-align:justify;
    overflow: hidden;
    height:80px;
    margin:20px 0px;
    font-size:14px;
    text-transform: capitalize;
	line-height: 20px;
    color:rgb(133, 132, 132);

}

.article-info-anime p:last-child {
    text-overflow: ellipsis;
}


.article-info-anime span, .article-info-anime i {
    width:100%;
    display:flex;
}

.article-info-anime span {
    justify-content:start;
    padding:10px 0px 5px 0px;
    font-size:14px;
    color:rgb(133, 132, 132);
}

.btn-group-favorites {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}

.b-f{
    background:white;
    border:none;
    font-size: 14px;
    margin: 0px 20px;
    transition: transform 2s;
    transition:.2s;
}

.btn-see-more {
    color:rgb(133, 132, 132);
}
.btn-remove {
    color:#ff8000;
}

.btn-see-more:hover {
    color:#ff8000;
}
.btn-remove:hover {
    color:rgb(133, 132, 132);
}

.btn-remove:active, .btn-see-more:active {
    transform: scale(0.9);
}



@media screen and (max-width: 800px){
	.main{
		width: 100%;
	}
}
