<section class="main animate__animated animate__slideInUp shadow-sm rounded">
    <div *ngIf="favoritos.length > 0; else elseBlock">
        <h2 class="section-tittle fs-5 fw-normal">Animes Favoritos</h2>
        <section class="results-favorites">
            <article *ngFor="let favorito of favoritos | paginate: { itemsPerPage: 2, currentPage: p }">
                <div class="article-image">
                    <img [src]="favorito.coverImage.extraLarge" class="shadow-lg rounded" alt="Portada del anime" title="Portada">
                </div>
                <div class="article-info-anime">
                    <h3>{{favorito.title.romaji}}</h3>
                    <p [innerHTML]= "favorito.description"></p>
                    <div class="btn-group-favorites">
                        <button type="button" class="b-f btn-see-more" [routerLink]="['/anime', favorito.id]"><i class="fa-solid fa-circle-plus"></i> Ver más</button>
                        <button type="button" class="b-f btn-remove" (click)="removerFavorito(favorito)"><i class="fa-solid fa-trash"></i> Remover</button>
                    </div>
                </div>
            </article>
            <div class="p-controls">
                <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Suguiente">
                </pagination-controls>
            </div>
        </section>
    </div>
    <ng-template #elseBlock><h2 class="section-tittle">No tiene ningun anime en la lista de favoritos</h2></ng-template>
</section>

