<form class="filters container-sm bg-light float-left" [formGroup]="myFilters">
    <div class="f-search">
        <span>Buscar:</span>
        <div class="f-input-group">
            <i class="fa-solid fa-magnifying-glass icon-input bg-white"></i><input type="text" placeholder="Buscar..."
                name="buscador" autocomplete="off" (keyup)="filterAnime()" formControlName="title">
        </div>
    </div>
    <div class="f-dropdown">
        <span>Genero:</span>
        <select name="dropdown-genre" formControlName="genre" (change)="filterAnime()">
            <option *ngFor="let genre of genders;" [value]="genre">{{genre}}</option>
        </select>
    </div>
    <div class="f-dropdown">
        <span>Año:</span>
        <select name="dropdown-seasonYear" formControlName="seasonYear" (change)="filterAnime()">
            <option *ngFor="let year of years;" [value]="year">{{year}}</option>
        </select>
    </div>

    <div class="f-dropdown">
        <span>Formato:</span>
        <select name="dropdown-format" formControlName="format" (change)="filterAnime()">
            <option *ngFor="let format of formats;" [value]="format | uppercase" [innerHTML]="format.replace('_',' ')">
            </option>
        </select>
    </div>
</form>
<div class="tags container-sm bg-light d-flex justify-content-start">
    <span class="bg-light text-secondary fs-6 px-2"><i class="fa-solid fa-tags"></i></span>
    <div *ngFor="let filter of arrayFilter">
        <span class="badge bg-info text-light px-2 me-2" *ngIf="filter">{{filter}}</span>
    </div>
</div>
<div class="container-sm d-flex pt-4 ps-2">
    <div class="dropdown">
        <button class="btn btn-outline-light text-secondary fs-6" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-sort"></i> {{order}}
        </button>
        <ul class="dropdown-menu bg-light shadow-sm rounded fs-6" aria-labelledby="dropdownMenu2">
            <li><button class="dropdown-item  text-secondary" type="button" (click)="orderTitle()">Nombre</button></li>
            <li><button class="dropdown-item  text-secondary" type="button" (click)="orderPopularity()">Popularidad</button></li>
        </ul>
    </div>
</div>