<div class="anime-info"> <!-- DEBE OCUPAR EL 30% DE UNA FILA  -->
    <img src="../../../assets/img/esferas.png" title="Logotipo" alt="Logotipo" class="anime-img-logo anime-animation-rotate">
    <span class="anime-text-logo">Aniki</span>
</div>
<div class="anime-links"> <!-- DEBE OCUPAR EL 70% RESTANTE DE LA FILA -->
    <a class="anime-link"><i class="fa-solid fa-house anime-icon"></i> Inicio</a>
    <a class="anime-link"><i class="fa-solid fa-heart anime-icon"></i> Favoritos</a>
    <div class="dropdown d-inline"> <!-- BOOTSTRAP -->
        <a class="anime-link" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-user anime-icon"></i> Usuario
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear"></i> Configuración</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesión</a></li>
        </ul>
    </div>
</div>