.container {
    background: rgb(237, 236, 236);
    display:grid;
    gap:20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);
    grid-template-areas: "header header header"
                         "filters filters sidebar"
                         "catalog catalog sidebar"
                         "footer footer footer";
}

.header {
    background:#161f26;
    color:#fff;
    grid-area: header;
    min-height: 70px;
}

.filters {
    grid-area: filters;
}

.sidebar {
    grid-area:sidebar;
    background:#fff;
    border-radius: 5px;

}

.catalog {
    grid-area: catalog;
}

.footer {
    grid-area:footer;
    color: #fff;
    background:#161f26;
    min-height: 50px;
}


@media screen and (max-width:760px) {
    .container {
        grid-template-areas: "header header header"
        "filters filters filters"
        "catalog catalog catalog"
        "sidebar sidebar sidebar"
        "footer footer footer";
    }
}
