<div class="anime-sidebar bg-white shadow-sm rounded animate__animated animate__fadeIn animate__fast">
    <h3 class="anime-title">Animes Populares</h3>
    <ul>
        <li class="anime-sidebar-link"><a><i class="fa-solid fa-star anime-text-yellow"></i> Popular 1 </a></li>
        <li class="anime-sidebar-link"><a><i class="fa-solid fa-star anime-text-yellow"></i> Popular 1 </a></li>
        <li class="anime-sidebar-link"><a><i class="fa-solid fa-star anime-text-yellow"></i> Popular 1 </a></li>
        <li class="anime-sidebar-link"><a><i class="fa-solid fa-star anime-text-yellow"></i> Popular 1 </a></li>
        <li class="anime-sidebar-link"><a><i class="fa-solid fa-star anime-text-yellow"></i> Popular 1 </a></li>
    </ul>
</div>
<div class="anime-sidebar bg-white shadow-sm rounded animate__animated animate__fadeIn animate__fast">
    <h3 class="anime-title">Ultimos Vistados</h3>
    <ul>
        <li class="anime-sidebar-link"><a><i class="fa-solid fa-heading anime-text-orange"></i> Visitado 1</a></li>
        <li class="anime-sidebar-link"><a><i class="fa-solid fa-heading anime-text-orange"></i> Visitado 1</a></li>
        <li class="anime-sidebar-link"><a><i class="fa-solid fa-heading anime-text-orange"></i> Visitado 1</a></li>
        <li class="anime-sidebar-link"><a><i class="fa-solid fa-heading anime-text-orange"></i> Visitado 1</a></li>
        <li class="anime-sidebar-link"><a><i class="fa-solid fa-heading anime-text-orange"></i> Visitado 1</a></li>
    </ul>
</div>