<aside class="bg-light">
    <div class="popular bg-white shadow-sm rounded animate__animated animate__fadeIn animate__fast">
        <h3 class="p-titulo fs-5">Animes Populares</h3>
        <ul>
            <li *ngFor="let popular of populares$ | async; let i=index">
                <i class="fa-solid fa-star text-warning fs-6"></i>
                <a [routerLink]="['/detail', popular.id]"> {{popular.title.romaji | titlecase}} </a>
            </li>
        </ul>
    </div>
    <div class="visited bg-white shadow-sm rounded animate__animated animate__fadeIn animate__fast" *ngIf="(visited$ | async)?.length !== 0">
        <h3 class="v-titulo fs-5">Ultimos Vistados</h3>
        <ul>
            <li *ngFor="let item of (visited$ | async) as visited" class="animate__animated animate__fadeIn animate__fast" >
                <a [routerLink]="['/detail',item.id]">
                    <span *ngIf="item.title"><i class="fa-solid fa-heading fa-icon"></i> {{item.title.romaji}}</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
