aside {
	width: 30%;
	padding: 20px;
	font-family: 'Overpass';
	float: left;
	height:100%;
	min-height: 80vh;
}

.popular {
	margin-bottom: 20px;
	padding: 20px;
}

.popular .p-titulo {
	color: #ff8000;
	border-bottom: 1px solid #ff8000;
	margin-bottom: 10px;
}

.popular ul {
	list-style: none;
}

.popular ul li{
	border-bottom: 1px dashed #ccc;
	padding: 10px 0;
}

.popular ul li a{
	color:#8f8f8f;
	text-decoration: none;

}

.popular ul li a:hover{
	color: #000;
}

.popular p{
	line-height: 27px;
}



.visited {
	margin-bottom: 20px;
	padding: 20px;
}

.visited .v-titulo {
	color: #ff8000;
	border-bottom: 1px solid #ff8000;
	margin-bottom: 10px;
}

.visited ul {
	list-style: none;
}

.visited ul li{
	border-bottom: 1px dashed #ccc;
	padding: 10px 0;
}

.visited ul li a{
	color:#8f8f8f;
	text-decoration: none;
	cursor: pointer;
	display:flex;
	flex-direction: column;
}

.visited ul li a:hover{
	color: #000;
}

.visited p{
	line-height: 27px;
}
.visited span {
	padding:3px 10px;
}
.fa-icon{
	color: #ff8000;
	font-size: 12px;
}


@media screen and (max-width: 800px){

	aside {
		width: 100%;
	}

}