.main {
	float: left;
	width: 70%;
	background: #fff;
    font-family: 'Overpass';
	height:100%;
	min-height: 100vh;
}

.results {
	display:flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.p-controls{
    width: 100%;
    display: flex;
    justify-content: center;

}

.section-tittle {
    display:flex;
    padding:40px;
    font-size:20px;
    color:rgb(133, 132, 132);
    justify-content:center;
    align-items:center;
}


article {
    float: left;
    display:flex;
    align-items: center;
    width: 25%;
    flex-direction: column;
    margin-bottom: 20px;
}

h3 {
    width:100%;
    font-size:14px;
    display:inline-block;
    text-align: center;
    font-weight: normal;
    color:rgb(133, 132, 132);
    padding:10px 0px;
}

img {
    width:185px;
    height:265px;
    opacity:0.9;
    border-radius: 2px;
    transition: transform .2s; 
}

img:hover {
	opacity: 1;
    transform: scale(0.98);
}

@media screen and (max-width: 800px){
	.main{
		width: 100%;
	}
}
