<main class="catalog">
    <h3>MAIN</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris congue arcu eget aliquam tempus. Morbi ut magna tellus. Vestibulum ac nulla quis nisi iaculis feugiat. Morbi vitae ultricies elit. Nulla congue gravida elit, eu tempor dui placerat nec. Nam in orci eu nunc consectetur porttitor. Nunc turpis dolor, cursus ut ligula et, pharetra pulvinar arcu. Quisque id porta libero. Proin non mollis neque. Vestibulum bibendum diam urna, nec dignissim lorem molestie quis. Suspendisse a pellentesque tortor, ut efficitur nulla. Praesent lobortis placerat orci, vel laoreet velit posuere faucibus. Duis sollicitudin pulvinar egestas.
    </p>
    <br>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris congue arcu eget aliquam tempus. Morbi ut magna tellus. Vestibulum ac nulla quis nisi iaculis feugiat. Morbi vitae ultricies elit. Nulla congue gravida elit, eu tempor dui placerat nec. Nam in orci eu nunc consectetur porttitor. Nunc turpis dolor, cursus ut ligula et, pharetra pulvinar arcu. Quisque id porta libero. Proin non mollis neque. Vestibulum bibendum diam urna, nec dignissim lorem molestie quis. Suspendisse a pellentesque tortor, ut efficitur nulla. Praesent lobortis placerat orci, vel laoreet velit posuere faucibus. Duis sollicitudin pulvinar egestas.
    </p>
    <br>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris congue arcu eget aliquam tempus. Morbi ut magna tellus. Vestibulum ac nulla quis nisi iaculis feugiat. Morbi vitae ultricies elit. Nulla congue gravida elit, eu tempor dui placerat nec. Nam in orci eu nunc consectetur porttitor. Nunc turpis dolor, cursus ut ligula et, pharetra pulvinar arcu. Quisque id porta libero. Proin non mollis neque. Vestibulum bibendum diam urna, nec dignissim lorem molestie quis. Suspendisse a pellentesque tortor, ut efficitur nulla. Praesent lobortis placerat orci, vel laoreet velit posuere faucibus. Duis sollicitudin pulvinar egestas.
    </p>
</main>