@font-face {
	font-family: "Road Rage";
	src: url("./assets/fonts/Road-Rage.otf");
}

@font-face {
	font-family: "Overpass";
	src: url("./assets/fonts/Overpasss/Overpass-Regular.ttf");
}

/*
Unidades Relativas
	px - pixel
	em - Relativa al tamaño de fuente que tenga su elemento padre o el mas cercano
	rem - Relativa al tamaño de fuente especificado en el html.
	% - porcentaje

Unidades Abosultas
	Estas medidas nunca las vas a usar en el diseño web, pero aqui estan para que las conozcas
	in - inches (pulgadas)
	cm - centimetros
	mm - milimetros
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
}

html {
	scroll-behavior: smooth;
	font-size: 14px;
}

body {
	font-family: 'Overpass', sans-serif;
	background: #E9ECF4;
	overflow: auto;
}

/* 

body::-webkit-scrollbar {
	-webkit-appearance: none;
}

body::-webkit-scrollbar:vertical{
	width:10px;
}

body::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #ccc;
} */