<section class="main shadow-sm rounded">
    <section class="article-results animate__animated animate__faster animate__fadeIn"
        *ngIf="(anime$ | async) as anime">
        <div class="banner">
            <img [src]="anime.bannerImage" *ngIf="anime.bannerImage; else elseBlockBanner" alt="Banner del anime" title="Banner del anime">
            <ng-template #elseBlockBanner>
                <img src="../../../../assets/img/banner-defecto.png" alt="Banner del anime" title="Banner del anime">
            </ng-template>
        </div>
        <div class="anime">
            <div class="article-image d-flex align-items-end">
                <div class="cover-img">
                    <img [src]="anime.coverImage.extraLarge" class="image-favorite" alt="Portada del anime" title="Portada">                  
                    <button class="btn btn-favorite mt-2" (click)="toggleFavorite(anime)" [ngClass]="{'btn-danger':anime.isFavorite, 'btn-outline-danger':!anime.isFavorite}">
                        <i class="bi bi-heart-fill"></i></button>
                </div>
            </div>
            <div class="article-info-anime pt-4 px-3">
                <h3>{{anime.title.romaji}} - ({{anime.title.native}})</h3>
                <p [innerHTML]="anime.description" *ngIf="anime.description; else elseBlockDescription"></p>
                <ng-template #elseBlockDescription>
                    <p>No hay una descripcion para el anime</p>
                </ng-template>
            </div>
        </div>
        <div class="px-2 d-flex pt-4">
            <span class="badge mx-2" *ngFor="let item of anime.genres;" [appBadgeGenres]="item">{{item}}</span>
        </div>
        <div class="d-flex py-4 px-2 justify-content-center" *ngIf="anime.trailer; else elseBlock">
            <div class="demo-youtube-player" *ngIf="anime.trailer">
                <section>
                    <youtube-player videoId="{{anime.trailer.id}}" [width]="videoWidth" [height]="videoHeight">
                    </youtube-player>
                </section>
            </div>
        </div>
        <ng-template #elseBlock>
            <span class="fs-5 text-danger text-center py-4 mt-4 animate__animated animate__bounceIn animate__fast">No se
                encontro el trailer</span>
        </ng-template>
    </section>
</section>