footer {
	clear: both;
	width: 100%;
	background:#161f26;
	color: #fff;
	display:flex;
	justify-content: center;
	align-items:center;
	padding: 15px 0;
}

p {
	display: flex;
	text-align: center;
}

@media screen and (max-width: 800px){
	footer{
		width: 100%;
	}
}
